body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}


.App{
    display: flex;
    flex-direction: column;
    height: 100vh;
		min-width: 200px;
		min-height: 350px;
}
.logo-image {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.propic-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    min-width: 30px;
}
.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 8px !important;
}
.expandable-sidebar-container {
    display: flex;
    height: 100%;
    min-width: 60px;
}
.content {
		background-color: rgb(221 223 237);
    width: 100%;
    border-radius: 12px;
    position: relative;
		margin-bottom: 10px;
		margin-right: 10px;
		box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.2), inset -2px -2px 4px rgba(240, 237, 237, 0.7);
		min-height: 200px;
	}
	/* background: radial-gradient(circle at -200px 230px, #03173f 0%, #142869 10%, #26357c 18%, #335fab 51%, #1152a1 100%); */