.logo-image {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 12px;
}
.propic-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.propic-button
{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2px;
}
.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.expandable-sidebar-container {
    display: flex;
    height: 100%;
    transition: width 0.3s;
    width: 66px;
}
.content {
    height: 100%;
    width: 100%;
    border-top-left-radius: 12px;
    position: relative;
    background: radial-gradient(circle at -200px 230px, #03173f 0%, #142869 10%, #26357c 18%, #335fab 51%, #1152a1 100%);
}