.home {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle at -200px 230px, #03173f 0%, #142869 10%, #26357c 18%, #335fab 51%, #1152a1 100%);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.navbar {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.undernavbar {
	flex: 1;
	width: 100vw;
	display: flex;
	/*align-items: center;
	justify-content: center;*/
}

.sidebar {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content {
	border-top-left-radius: 20px;
	background-color: rgba(255, 255, 255, 0.03);
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	width: 100%;
	height: calc(100% - 40px);
	padding: 20px;
	gap: 40px;
	overflow-y: auto;
}

.box {
	width: 100px;
	height: 100%;
	background-color:#f5f5f5f0;
	border-radius: 8px;
	flex-grow: 1;
	min-width: 400px;
	max-width: 800px;
	max-height: 600px
}

.logo-image {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.propic-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.propic-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 2px;
}

.chat-buttons {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	padding: 2px;
}

.propic-button img {
    display: block;
}

.chat-image {
	padding-top: 5px;
	width: 25px;
	height: 25px;
}

.expandable-sidebar-container {
	display: flex;
	height: 100%;
	background-color: none;
  }