.alert {
	position: fixed;
	padding: 15px;
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 250px;
	max-width: 350px;
  }
  
  /* Toast specifico (posizionato in basso a sinistra) */
  #toast-container .alert {
	bottom: 20px;
	left: 20px;
	margin-bottom: 10px;
  }
  
  .alert.warn {
	background-color: #fff3cd;
	color: #856404;
	border-color: #ffeeba;
  }
  
  .alert.error {
	background-color: #f8d7da;
	color: #721c24;
	border-color: #f5c6cb;
  }
  
  .alert.success {
	background-color: #d4edda;
	color: #155724;
	border-color: #c3e6cb;
  }
  
  .alert .btn-close {
	margin-left: 10px;
	cursor: pointer;
	background: transparent;
	border: none;
	font-size: 1.5rem;
	font-weight: bold;
  }